
@{
    ViewBag.Title = "OrderNow";
}

<form style="background-color:darkkhaki">
<h2 style="color:darkslateblue">Your  Order has been Placed Successfully
    Continue shopping...</h2>
<p style="color:blue">click on home to go to home page @Html.ActionLink("Home", "Index")</p>
</form>
    
